<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505456279832-ieu9fg192bojukrq92mcp4r8moedn0rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505456279832-ieu9fg192bojukrq92mcp4r8moedn0rv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>505456279832-fsrhf5dc92b24usig7rnhhv21ceb6pji.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbjlwxZMoN4nBZm8Fgi5xnrOitWgnw25E</string>
	<key>GCM_SENDER_ID</key>
	<string>505456279832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled13</string>
	<key>PROJECT_ID</key>
	<string>socialproject-60d1b</string>
	<key>STORAGE_BUCKET</key>
	<string>socialproject-60d1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505456279832:ios:3411e9c0e5924ff55c5e6d</string>
</dict>
</plist>